{% extends "base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}
<p>{% include "includes/standard_slides.html" %}</p>

{% block main %}
{% blocktrans %}
<!--<h2>Congratulations!</h2>-->
<p><img src="https://s3.amazonaws.com/humarmedical/img/Homepage.jpg?X-Amz-Date=20151229T052408Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=7133aea2868c03d7364c7f60bf9d5a7ea6f4fcf75b6c05c6c34df4f6532611ce&X-Amz-Credential=ASIAJGT2DPYGXMUQKG3A/20151229/us-east-1/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEJ///////////wEakAJQguw%2ByGk6dnfKO63vtLXDLrwiztI3nMTQJ26l5hgeCRVFafqUfxJ6%2B4LfKmyle3A54lF7uiNrmQZC/W6mZCsqaIFFfiUG0gsbJGv4fbMmtVPN57/jzrKCROLr%2BndrsDdvfeUrgbWQvX61qB8hafUAGbkAOBG%2BkIaifVyKGeY7/suAoS%2BZJ2j36EU%2BzHtGXg63w8aa3I4vU6g9r7G4BRNX8Cz51PVtirQzM31eEK1yKRGN9lsD%2BVOMuGhUmsaPa/OuQ5WQDhjk8Vs9y49%2B8c3HkIGab4vdQadnykYD7QmmKl7OMnQ2rpqoHqa7Pg5ywQpNCloDCteJTL2l2LRXGjAbDl1azyYqXn44I8TB65ehGSD7sIi0BQ%3D%3D"
width="640" height="420"></p>
<!--<p>
    Welcome to your new Mezzanine powered website.
    Here are some quick links to get you started:
</p>
<ul>
    <li><a href="/admin/">Log in to the admin interface</a></li>
    <li><a href="http://mezzanine.jupo.org/docs/content-architecture.html">Creating custom page types</a></li>
    <li><a href="http://mezzanine.jupo.org/docs/frequently-asked-questions.html#templates">Modifying HTML templates</a></li>
    <li><a href="http://mezzanine.jupo.org/docs/frequently-asked-questions.html#why-isn-t-the-homepage-a-page-object-i-can-edit-via-the-admin">Changing this homepage</a></li>
    <li><a href="http://mezzanine.jupo.org/docs/frequently-asked-questions.html">Other frequently asked questions</a></li>
    <li><a href="http://mezzanine.jupo.org/docs/configuration.html#default-settings">Full list of settings</a></li>
    <li><a href="http://mezzanine.jupo.org/docs/deployment.html">Deploying to a production server</a></li>
</ul>-->

{% endblocktrans %}
{% endblock %}
 <!--slider-->
